<div class="banner">
  <div class="container">
    <h1>Welcom to watchlist!</h1>
    <p>Create watchlists and add movies that you want to see!</p>
  </div>
</div>

<div class="grid_container_2">
  <div class="card d-flex" style="width: 18rem;">
    <div class="p-3">
      <h5 class="card-title mt-auto">All Movies</h5>
      <%= link_to 'View all movies!', movies_path %>
    </div>
  </div>
  <div class="card d-flex" style="width: 18rem;">
    <div class="p-3">
      <h5 class="card-title mt-auto">Watchlists</h5>
      <%= link_to 'My watch lists!', lists_path %>
    </div>
  </div>
</div>
