<h1>ALL EXISTING LISTS</h1>
<% @lists.each do |list|%>
  <div class="d-flex">
    <li> <%=list.name%> - </li>
    <%= link_to 'View this list', list_path(list) %>
  </div>
<% end %>

<%= link_to 'ADD NEW LIST', new_list_path %>
