<div class="banner">
  <div class="container">
    <h1>Your movie watchlist!</h1>
    <p>Create watchlists and add movies that you want to see!</p>
    <%= link_to 'ADD NEW LIST', new_list_path, class:"btn btn-outline-light" %>
  </div>
</div>

<div class="grid_container">
  <% @lists.each do |list|%>
    <div class="card d-flex" style="width: 18rem;">
      <%= image_tag list.image_url, width: 200, height:150, class:"card-img-top" %>
      <div class="p-3">
        <h5 class="card-title mt-auto"><%= list.name %></h5>
        <%= link_to 'View list!', list_path(list) %>
      </div>
    </div>
  <% end %>
</div>
