<div class="shadow p-3 m-5 bg-white rounded">
  <h1>ADD A MOVIE TO A LIST</h1>

  <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.input :comment %>
    <%= f.association :movie, collection: Movie.all, input_html: { class: "form-control", required: true } %>
    <%= f.submit %>
  <% end %>
</div>
